[submodule "/home/galaxeus/Documents/hexaminate/app/llama/native_lib/lib/llama.cpp"]
	path = /home/galaxeus/Documents/hexaminate/app/llama/native_lib/lib/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
